*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.container{
  padding: 30px;
  background-color: #A3B8FF;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container > div {
  gap: 20px;
  height: 250px;
  display: flex;
}
.rotate{
  transform: rotate(180deg);
}
.figure-one{
  background-color: #E57373;
  width: 60%;
}
.figure-two {
  background-color: #FFA931;
  width: 40%;
}
.figure-one, .figure-two, .container {
  border: 5px solid black;
}